@page "/"
@inherits Homepage.Components.Base.ContentBase
@using System.Text.Json
@using Homepage.Components
@using Homepage.Components.Base
@inject NavigationManager NavManager

<MudContainer Class="mt-6">
    <MudPaper Class="d-flex align-center justify-center mud-width-full pa-6 ma-6" Square="false" Outline="false">
        <MudList T="string">
            <MudListItem>
                <MudText Typo="Typo.h3" Align="Align.Center">
                    Articles
                </MudText>
            </MudListItem>
            <MudDivider DividerType="DividerType.Inset" />
            <MudListItem>
                <MudText Typo="Typo.body1">
                    This is a collection of articles I have written. They are mostly about software development, but I also write about other topics that interest me.
                </MudText>
            </MudListItem>
        </MudList>
    </MudPaper>

    <MudGrid Spacing="4" Class="mt-4">
        <MudItem xs="12">
            <MudCard Elevation="0" Class="pa-2">
                <MudText Typo="Typo.subtitle1" Class="mb-2">Filter by Tags:</MudText>
                <div class="d-flex flex-wrap gap-2">
                    @if (FilterService.GetAllAvailableTags().Any())
                    {
                        @foreach (var tag in FilterService.GetAllAvailableTags())
                        {
                                                                    <MudCheckBox T="bool"
                                                                                 Label="@tag"
                                                                                 Dense="true"
                                                                                 Color="Color.Primary"
                                                                                 Checked="@(IsTagFilterActive(tag))"
                                                                                 CheckedChanged="@((bool isChecked) => OnFilterChanged(tag, isChecked))" />
                        }
                    }
                    else
                    {
                                            <MudText Typo="Typo.body2" Class="mud-text-secondary">No tags available for filtering.</MudText>
                    }
                </div>
            </MudCard>
        </MudItem>
    </MudGrid>

    @if (IsLoading)
    {
                            <MudPaper Class="d-flex align-center justify-center mud-width-full pa-6 ma-6" Square="false" Outline="false">
                                <MudProgressCircular Indeterminate="true" Size="Size.Medium" Color="Color.Primary" />
                            </MudPaper>
    }
    else if (ContentList.Any())
    {
        @foreach (var post in ContentList.Take(_maxItems))
        {
                                                    <ContentCard Content="@post" OnClick="@(() => NavManager.NavigateTo($"/content/{post.Slug}"))" />
        }
        @if (ContentList.Count > _maxItems)
        {
                                                    <MudButton Variant="Variant.Outlined" OnClick="LoadMore" Class="mt-4">Load more</MudButton>
        }
    }
    else
    {
                            <MudText Typo="Typo.body1" Class="text-center mt-8">No articles found matching your criteria.</MudText>
    }
    </MudContainer>